
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Node Packages
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Ignore all files in the apps directory besides those that have build in their name
apps/*
!apps/*build*
